### importing libraries

In [1]:
import requests
import lxml.html as lh
import pandas as pd

### Data scraoing from url

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

page = requests.get(url)

In [3]:
doc = lh.fromstring(page.content)
tr_elements = doc.xpath('//tr')

In [4]:
#Checking the length of the first 12 rows
[len(T) for T in tr_elements[:10]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [5]:
tr_elements = doc.xpath('//tr')
#empty list
col=[]
i=0
#each row, store each first element as header and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

#### Pandas dataframe

In [6]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
            try:
                data=int(data)
            except:
                pass
         
        col[i][1].append(data)#Append the data
        #Increment i for the next column
        i+=1

In [7]:
[len(C) for (title,C) in col]

[288, 288, 288]

In [8]:
df=pd.DataFrame({title:column for (title,column) in col})

### Rearranging and renaming the columns

In [13]:
df.columns = ['Borough', 'Neighbourhood','Postcode']

cols = df.columns.tolist()
cols

cols = cols[-1:] + cols[:-1]

df = df[cols]

df.head()

  Postcode           Borough       Neighbourhood
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

### cleaning the messy string in the column "Borough"

In [14]:
df = df.replace('\n',' ', regex=True)
df.head()

  Postcode           Borough      Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Dropping all cells with a borough that is "Not assigned"

In [15]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index
df = df.reset_index(drop=True)
df.head(20)

   Postcode           Borough      Neighbourhood
0       M3A        North York         Parkwoods
1       M4A        North York  Victoria Village
2       M5A  Downtown Toronto      Harbourfront
3       M5A  Downtown Toronto       Regent Park
4       M6A        North York  Lawrence Heights
5       M6A        North York    Lawrence Manor
6       M7A      Queen's Park      Not assigned
7       M9A         Etobicoke  Islington Avenue
8       M1B       Scarborough             Rouge
9       M1B       Scarborough           Malvern
10      M3B        North York   Don Mills North
11      M4B         East York  Woodbine Gardens
12      M4B         East York     Parkview Hill
13      M5B  Downtown Toronto           Ryerson
14      M5B  Downtown Toronto   Garden District
15      M6B        North York         Glencairn
16      M9B         Etobicoke        Cloverdale
17      M9B         Etobicoke         Islington
18      M9B         Etobicoke      Martin Grove
19      M9B         Etobicoke  Princess Gardens

### Combining Neighbourhoods based on similar Postcode and Borough

In [16]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(15)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                    Rouge ,Malvern
1       M1C  Scarborough            Highland Creek ,Rouge Hill ,Port Union
2       M1E  Scarborough                 Guildwood ,Morningside ,West Hill
3       M1G  Scarborough                                            Woburn
4       M1H  Scarborough                                         Cedarbrae
5       M1J  Scarborough                               Scarborough Village
6       M1K  Scarborough       East Birchmount Park ,Ionview ,Kennedy Park
7       M1L  Scarborough                   Clairlea ,Golden Mile ,Oakridge
8       M1M  Scarborough   Cliffcrest ,Cliffside ,Scarborough Village West
9       M1N  Scarborough                       Birch Cliff ,Cliffside West
10      M1P  Scarborough  Dorset Park ,Scarborough Town Centre ,Wexford ...
11      M1R  Scarborough                                 Maryvale ,Wexford
12      M1S  Scarborough                                         Agincourt
13      M1T  Scarborough           Clarks Corners ,Sullivan ,Tam O'Shanter
14      M1V  Scarborough  Agincourt North ,L'Amoreaux East ,Milliken ,St...

### Removing any space in the start of the string

In [17]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

### Assigning Borough values to the Neignbourhood where vlaue is "Not assigned"

In [18]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

### Check if the Neighbourhood for Queen's Park changed

In [ ]:
df[df['Borough'] == 'Queen\'s Park']

### checking the shape

In [19]:
df.shape

(103, 3)

### creating a .csv file for future use

In [21]:
df.to_csv(r'df_canada.csv')